body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.topDiv {
    background-color: #ffff00;
}

.leftDiv {
    background-color: orangered;
}

.mainDiv {
    background-color: green;
}

.bottomDiv {
    background-color: blue;
}