//
   Created by Administrator on 2014/4/18.
extends ../layout
block style
  link(rel="stylesheet", href="/stylesheets/hindStyle.css")
block content
  #topDiv.topDiv
    block topDiv
  #leftDiv.leftDiv
    block leftDiv
  #mainDiv.mainDiv
    block mainDiv
  #bottomDiv.bottomDiv
    block bottomDiv
