//
   Created by Administrator on 2014/4/23.
extends ../layout
block style
  link(rel="stylesheet", href="/stylesheets/frontStyle.css")
block script
  script(src="/javascripts/angular.min.js")
  script(src="/javascripts/angular-route.min.js")
  script(src="/controller/app.js")
block content
